@font-face {
    font-family: 'Airstrike Gradient';
    src: url('fonts/airstrikegrad-webfont.woff2') format('woff2'),
        url('fonts/airstrikegrad-webfont.woff') format('woff'),
        url('fonts/airstrikegrad.ttf') format('truetype');
  }

  h1{
      font-family: 'Airstrike Gradient';
      font-size: 80pt;
      color: white
  }

  body{
      background-color: black;
  }
