@font-face {
    font-family: 'airstrike_gradientregular';
    src: url('fonts/airstrikegrad-webfont.eot');
    src: url('fonts/airstrikegrad-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/airstrikegrad-webfont.woff2') format('woff2'),
         url('fonts/airstrikegrad-webfont.woff') format('woff'),
         url('fonts/airstrikegrad-webfont.ttf') format('truetype'),
         url('fonts/airstrikegrad-webfont.svg#airstrike_gradientregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.nav-bar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    top: 0; /* Position the navbar at the top of the page */
    left:0;
    width: 100%; /* Full width */    
}

.link-tray{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    font-family: 'airstrike_gradientregular';
    font-size: 70pt;
    font-weight: normal;
}

h2{
    font-family: 'airstrike_gradientregular';
    font-weight: normal;
    font-size: 30pt;
}

.nav-link{
    padding-left: 15px;
    padding-right: 15px;
}

.nav-bar a{
    color: #33FF00;
    text-decoration: none;
}

body{
    background-color: black;
}

.blogs-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 300px;
}

.blog-panel{
    color: #33FF00;
    border: #33FF00;
    border-style: solid;
    border-width: 3px;
    padding: 30px;
}

.blogs-container a{
    color: #33FF00;
    text-decoration: none;
}

.blog-panel:hover{
    text-decoration: none;
    background-color: #33FF00;
    color: black !important;
}


