@font-face {
    font-family: 'Airstrike Gradient';
    src: url('fonts/airstrikegrad-webfont.woff'), url('fonts/airstrikegrad-webfont.woff2'), url('fonts/airstrikegrad.ttf');
  }

  h1{
      font-family: 'Airstrike Gradient';
      font-size: 80pt;
      color: white
  }

  body{
      background-color: black;
  }
